include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include uitools *.css
recursive-include uitools *.csv
recursive-include uitools *.html
recursive-include uitools *.ico
recursive-include uitools *.js
recursive-include uitools *.json
recursive-include uitools *.md
recursive-include uitools *.png
recursive-include uitools *.py
recursive-include uitools *.svg
recursive-include uitools *.txt
recursive-exclude uitools *.pyc