.form-control {
    padding: 0.438rem 1rem;
    background-color: #fff!important;
    background-clip: padding-box !important;
    border: 1px solid #d8d6de !important;
    border-radius: 0.357rem !important;
}